.category-tips {
  position: fixed;
  left: 0;           /* ← ชิดซ้ายหน้าจอ */
  top: 60px;
  z-index: 100;
  padding: 10px;
  text-align: left;
}

.tips-dashboard {
  min-height: 100vh;
  width: 1000px;
  background: linear-gradient(135deg, #faf5ff, #eff6ff, #eef2ff);
  padding: 20px;
  margin-top: 110px;
  margin-bottom: 20px;
  border-radius: 20px;

}